<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модуль 14</title>
    <script src="../ex2.js"></script>
    <link href="../style.css" rel="stylesheet">
</head>
<body>
<nav class="menu">
    <a href="../index.html">Задание 1</a>
    <a class="active" href="./exercise2.html">Задание 2</a>
    <a href="./exercise3.html">Задание 3</a>
    <a href="./exercise4.html">Задание 4</a>
    <a href="./exercise5.html">Задание 5</a>
</nav>


<h4 class="title">Задание 2</h4>
<p class="exercise_text">Вам дана заготовка и результат, который вы должны получить. Ваша задача — написать код,
    который будет преобразовывать JSON в JS-объект и выводить его в консоль.</p>

<br>
<pre class="code">
   {
     "list": [
      {
       "name": "Petr",
       "age": "20",
       "prof": "mechanic"
      },
      {
       "name": "Vova",
       "age": "60",
       "prof": "pilot"
      }
     ]
    }
    the type is string
</pre>


<div class="wrap_ex">
    <button id="button" class="button">Получить JS объект</button>
</div>
<div id="result" class="result"></div>
</body>
</html>
